<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.gre_vocab.word.dao.WordMapper">
    
    <resultMap id="resultMap" type="com.wy.gre_vocab.word.entity.Word">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="word" jdbcType="VARCHAR" property="word"/>
        <result column="chin_def" jdbcType="VARCHAR" property="chin_def"/>
    </resultMap>

    <select id="selectWords" resultType="com.wy.gre_vocab.word.entity.Word">
        SELECT * FROM vocab
        WHERE id in
        <foreach collection="list" index="index" open="(" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectWord" resultType="com.wy.gre_vocab.word.entity.Word">
        SELECT * FROM vocab
        WHERE id = #{id}
    </select>

    <select id="getAll" resultType="com.wy.gre_vocab.word.entity.Word">
        SELECT * FROM vocab
        ORDER BY id
    </select>


    <select id="checkExist" resultType="int">
        SELECT COUNT(1) FROM favorite
        WHERE user_id = #{user_id}
        AND word_id = #{word_id}
    </select>

    <insert id="addFavorite">
        INSERT INTO `favorite`
        SET `user_id` = #{user_id},
            `word_id` = #{word_id}
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM favorite
        WHERE user_id = #{user_id}
        AND word_id = #{word_id}
    </delete>

    <select id="getFavoriteWords" resultType="com.wy.gre_vocab.word.entity.Word">
        select * from vocab
        where id in
        (select word_id from favorite
        where user_id = #{id})
        order by id
    </select>



</mapper>